body {
    background-color: #121212;
    color: #ffffff90;
}

.game-grid {
    display: grid;
}

.game-grid .grid-cell {
    border: solid #ffffff90 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-grid .grid-numbers-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5rem;
    padding: .5rem;
}

.game-grid .grid-numbers-column {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    padding: .5rem;
}

.game-grid.grid-size-3 {
    grid-template-columns: min-content repeat(3, 2rem);
    grid-template-rows: min-content repeat(3, 2rem);
}

.game-grid.grid-size-5 {
    grid-template-columns: min-content repeat(5, 2rem);
    grid-template-rows: repeat(6, 2rem);
}

.game-grid.grid-size-10 {
    grid-template-columns: min-content repeat(10, 2rem);
    grid-template-rows: min-content repeat(10, 2rem);
}

.game-grid.grid-size-15 {
    grid-template-columns: min-content repeat(15, 2rem);
    grid-template-rows: min-content repeat(15, 2rem);
}